@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
	background: #E0E0E0;
}

.register{
	background: #fff;
	padding: 40px 20px;
	margin-top: 5%;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
	box-shadow: 0 1px 3px rgba(0,0,0,.13);
}

.regbutton {
	float:right;
}

p.error {
	background: #fff;
	padding: 10px 10px 10px 30px;
	margin-top:3%;
	border-left: 4px solid red;
	font-size: 10px;
	font-weight: 300;
	text-transform: uppercase;
}

.topnav {
	display:block;
	background: #fff;
	height: 110px;
	padding: 30px 0;
}

.navigation{
	display:block;
	float:right;
}

.thumb{
  width:25px;
  height:25px;
}

.profile_pic{
  width:65px;
  height:65px;
}

.wrapper{
	margin-top: 40px !important;
}

.bio, .feed{
	background: #fff;
	border-radius: 5px;
	padding: 40px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.minidash{
	margin-top: 30px;
}

.stats{
	background:#fefefe;
	border: 1px solid #f7f7f7;
	padding: 5px;
	border-radius: 3px;
}

.stats > h2 {
	color: #7d7d7d;
	font-size:36px;
	text-align: center;
}

.stats > p {
	font-size:11px;
	color: #a1a1a1;
}

.pubname{
	font-size: 18px;
	font-weight: 700;
}

.username{
	font-size: 12px;
	font-style: italic;
	color:#969696;
}

.userbio{
	font-size: 12px;
	color: #969696;
	padding-bottom: 8px;
}

.stat-label{
	background: #fff;
}

.suggest-btn {
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  -webkit-box-shadow: 0px 3px 0px #D35400;
  -moz-box-shadow: 0px 3px 0px #D35400;
  box-shadow: 0px 3px 0px #D35400;
  color: #ffffff;
  background: #E67E22 !important;
  padding: 12px 30px 12px 30px !important;
  text-decoration: none;
  text-transform:uppercase;
}

.suggest-btn:hover {
  color: #fff;
  background: #D35400 !important;
  text-decoration: none;
}

.suggest-btn:active {
  color: #fff;
  background: #D35400 !important;
  text-decoration: none;
}

.sidebar{
	background: #fff;
	margin-top: 20px;
	padding: 30px;
}

.places{
	background: #fff;
	margin-top: 20px;
	padding: 30px;
}

.dumb{
	width:550px;
	height: 250px;
	position: relative;
}

.place-name{
	font-size:20px;
	font-family:'Montserrat';
	text-transform: uppercase;
	margin-top: 10px;
}

.loc{
	font-size:12px;
	font-family: 'Roboto', serif;
}

.placetotravel{
	margin-bottom:50px;
}


ul, li{
  list-style:none;
  margin:0;
  padding:0;
}

img{
display:block;
  margin:0;
}

ul{
  overflow:hidden;
  display:block;
  li{
    display:block;
    float:left;
    margin-right:10px;
    overflow:hidden;
    text-align:center;
    border:3px solid #ccc;
  }
}

.resp{
  li{
  width:30%;
  }
}

.placecover {
    display: inline-block;
    width: 100%;
    height: 10%;
    margin: 5px;
    background-position: center center;
    background-size: cover;
}
